<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="username" placeholder="Username" /><br />
    <input type="email" formControlName="email" placeholder="Email" /><br />
    <input type="password" formControlName="password" placeholder="Password" /><br />
    <button type="submit" [disabled]="signupForm.invalid">Signup</button>
  </form>
  
  <div *ngIf="signupSuccess" style="color: green;">Signup successful!</div>
  <div *ngIf="signupError" style="color: red;">{{ signupError }}</div>
  
  <p>Already have an account?</p>
  <a routerLink="/login">
    <button>Back to Login</button>
  </a>